*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-family: 'Roboto', monospace;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
}

/* header */

.header {
    background-color: #39a3db;
    height: 300px;
    width: 100%;
    display: table;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* form */

.form-group {
    display: flex;
    flex-direction: column;
}

input[type="search"] {
    width: 460px;
    height: 38px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    padding: 0 10px 0 10px;
    color: #3c3c3c;
    font-size: 16px;
}

.inner label {
    display: block;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
}

.input-group {
    position: relative;
}

.submit {
    position: relative;
    top: 60px;
}

.submit .btn {
    padding: 10px 35px;
    background-color: #FAB547;
    border: none;
    border-radius: 0;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 100;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: .8s;
    background-position: center;
}

.submit .btn:hover {
    background-color: rgb(241, 166, 44);
}

/* result  */

.result {
    display: none;
    width: 100%;
}

.result-item {
    border-radius: 5px;
    margin-top: 20px;
    float: left;
    margin-right: 60px;
}

.result-header {
    background: #97c3e5;
    background: -moz-linear-gradient(top, #97c3e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #7db9e8 0%, #1e5799 0%, #97c3e5 0%, #97c3e5 0%, #97c3e5 0%, #97c3e5 0%, #97c3e5 0%, #c7d7e2 0%, #c7d7e2 45%, #c7d7e2 47%, #c7d7e2 47%, #97c3e5 100%);
    background: -webkit-linear-gradient(top, #97c3e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #7db9e8 0%, #1e5799 0%, #97c3e5 0%, #97c3e5 0%, #97c3e5 0%, #97c3e5 0%, #97c3e5 0%, #c7d7e2 0%, #c7d7e2 45%, #c7d7e2 47%, #c7d7e2 47%, #97c3e5 100%);
    background: linear-gradient(to bottom, #97c3e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #6eb1e5 0%, #7db9e8 0%, #1e5799 0%, #97c3e5 0%, #97c3e5 0%, #97c3e5 0%, #97c3e5 0%, #97c3e5 0%, #c7d7e2 0%, #c7d7e2 45%, #c7d7e2 47%, #c7d7e2 47%, #97c3e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c3e5', endColorstr='#97c3e5', GradientType=0);
    /* IE6-9 */
    padding: 5px 10px;
}

.result-header span {
    color: #3A7399;
    font-size: 20px;
}

.result-header span:nth-child(2) {
    margin-left: 170px;
}

/* item result and carousel-item */

.item-group, .carousel-container {
    width: 200px;
    padding-right: 20px;
}

.item-group {
    border-right: 1px solid #cccccc;
    display: inline-block;
    padding-left: 10px;
}

.items-grid .carousel-item {
    margin-left: 0;
}

.carousel {
    position: relative;
    width: 1000px;
    margin: 0;
    float: left;
}

.carousel-content {
    width: 1000px;
    overflow-x: hidden;
}

.carousel-grid.items-grid.items-grid--max-4 {
    transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
    position: relative;
    white-space: nowrap;
}

.carousel-container {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
    padding-top: 10px;
}

.carousel-container:hover {
    background: rgba(134, 172, 204, 1);
    background: -moz-linear-gradient(top, rgba(134, 172, 204, 1) 0%, rgba(134, 172, 204, 1) 2%, rgba(211, 226, 237, 1) 72%, rgba(237, 242, 245, 1) 86%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(134, 172, 204, 1)), color-stop(2%, rgba(134, 172, 204, 1)), color-stop(72%, rgba(211, 226, 237, 1)), color-stop(86%, rgba(237, 242, 245, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(134, 172, 204, 1) 0%, rgba(134, 172, 204, 1) 2%, rgba(211, 226, 237, 1) 72%, rgba(237, 242, 245, 1) 86%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(134, 172, 204, 1) 0%, rgba(134, 172, 204, 1) 2%, rgba(211, 226, 237, 1) 72%, rgba(237, 242, 245, 1) 86%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(134, 172, 204, 1) 0%, rgba(134, 172, 204, 1) 2%, rgba(211, 226, 237, 1) 72%, rgba(237, 242, 245, 1) 86%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(134, 172, 204, 1) 0%, rgba(134, 172, 204, 1) 2%, rgba(211, 226, 237, 1) 72%, rgba(237, 242, 245, 1) 86%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86accc', endColorstr='#ffffff', GradientType=0);
}


/* arrows */


.arrows-left {
    left: -40px;
}

.arrows-right {
    right: -35px;
}

.arrows {
    bottom: 0;
    display: block;
    padding: 0;
    width: 24px;
    position: absolute;
    top: 40%;
    z-index: 1;
}

.arrow-btn {
    background-color: transparent;
    border: 0 none;
    color: buttontext;
    cursor: pointer;
    display: block;
}

#left-btn {
    display: none;
}



/* labels and paragraphs - carousel and item */

.price-label {
    color: #CC0000;
    font-size: 12px;
}

.price {
    color: #CC0000;
    font-weight: bold;
}

p {
    color: #CC0000;
    font-size: 12px;
}

.paymentConditions {
    margin-top: 3px;
    font-size: 13px;
    color: #CC0000;
}

/* description carousel and item */

.description, .description-carousel {
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    height: 50px;
    margin-bottom: 5px;
}

.description-carousel {
    white-space: normal !important;
}

.item-image {
    display: block;
    text-align: center;
}

/* item not found */

.invalid-item {
    display: none;
    margin: 20px auto;
    padding: 0 15px;
}

.invalid-item h1 {
    font-size: 5rem;
}

.invalid-item h2 {
    font-size: 3rem;
}

.invalid-item h1, .invalid-item h2 {
    font-weight: 300;
}

/* icons */

#icon-left:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #175B9C;
}

#icon-right:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #175B9C;
}
